.book{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    margin-top: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.image {
    max-height: 100%;
    padding: 0 0 0 0.5rem;
}

.title, .author {
    font-style: italic;
}

.info {
    flex: 1;
    margin-left: 0.5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    font-size: 1.0rem;
    margin-right: 0.5rem;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    .image {
      display: none;
    }
  }