.navbar {
  grid-column: 1 / 4;
  border-bottom: 1px solid #ced4da;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}
.navbar-brand {
  font-size: 1.8rem;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
}

.nav-item {
  font-size: 0.8rem;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.nav-link {
  padding: .5rem 1rem;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

.active {
  color: rgba(0,0,0,.9);
  font-weight: bold;
}